[submodule "biz/drone-vibe-game/code"]
	path = biz/drone-vibe-game/code
	url = https://github.com/kai-numb/drone-vibe-game.git
	branch = feat/v3-delivery-scene
[submodule "biz/socialist-sns/code"]
	path = biz/socialist-sns/code
	url = https://github.com/kai-numb/tonari-news-bot.git
