[submodule "biz-code/drone-vibe-game"]
	path = biz-code/drone-vibe-game
	url = https://github.com/kai-numb/drone-vibe-game.git
[submodule "biz-code/socialist-sns-automation"]
	path = biz-code/socialist-sns-automation
	url = https://github.com/kai-numb/tonari-news-bot.git
